.first{
    font-size: 24px;
}

.last {
    font-size: 35px;    
}

.even {
    color: green;
}

.odd {
    color: aqua;
}

.class1{
    color:blue;
}

.class2{
    color:rgb(73, 151, 0);
}

.anotherClass{
    color:rgba(28, 83, 173, 0.596);
}

.invisible{
    display: none;
    
}