
  Hello from data. It works!
  <br/>{{message}}{{1+1}}
  <br/>This is message2: {{message2}}
  <br/>TimeToString: {{message3}}
  <br/>TimeToSetInterval: {{curTime}}
  <br/>
  <button (click)="myEvent($event)"> buttonEvent </button>
  <br/>
  <button *ngIf="isCollapsed" (click)="toggleCollapse()">Відобразити</button>
  <button *ngIf="!isCollapsed" (click)="toggleCollapse()">Заховати</button>
  <div *ngIf="!isCollapsed">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea officiis
      reiciendis eum rem voluptatum ad dolor voluptates quam, esse voluptatem? 
      Velit optio laborum rerum alias aperiam temporibus voluptate? Ad, reiciendis?
    </p>
  </div>
  <br/>Items from data.component.ts:
    <p *ngFor="let item of items; let i = index;
      let first = first; let last = last; 
      let even = even;
      let odd = odd;
      "[ngClass] = "{first:first, last:last, even:even, odd:odd}">
      {{i}} {{ item }} Logic: {{last}}
    </p>
 <div> <!-- *ngIf="loggedIn; else loggOut" -->
  <p>Logged in.</p>  
  <ng-template *ngIf="loggedIn; then loggedIn; else loggOut">
    
  </ng-template>
</div>
<ng-template #loggedIn>
    Login in
</ng-template>
<ng-template #loggOut>
  Login please
</ng-template>


  
  

